<ion-header>
  <ion-toolbar>
    <ion-title>Subtitle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list>
    <ion-item class="align-bottom">
      <p>
        <span *ngFor="let furigana of furiganas" [attr.t]="furigana.ruby"
          >{{ furigana.text }}</span
        >
      </p>
    </ion-item>
    <ion-item>
      <ion-text class="caption-test">
        <span *ngFor="let furigana of furiganas">
          <ruby *ngIf="furigana.ruby"
            >{{ furigana.text }}<rt>{{ furigana.ruby }}</rt></ruby
          >
          <span *ngIf="!furigana.ruby">{{ furigana.text }}</span>
        </span>
      </ion-text>
    </ion-item>
    <ion-item #caption
      *ngFor="let caption of captions"
      (click)="selectCaption($event)"
      [attr.data-caption-id]="caption.id"
    >
      <ion-label
        class="caption"
        [color]="caption.id == activeId ? 'primary' : 'dark'"
        text-wrap
      >
        {{ caption.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary">
      <ion-icon name="play-outline" *ngIf="!isPlaying" (click)="play()"></ion-icon>
      <ion-icon name="pause-outline" *ngIf="isPlaying" (click)="pause()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon
            slot="icon-only"
            name="play-skip-forward-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light" (click)="scroll()">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
