<ion-header>
  <ion-toolbar>
    <ion-title>{{ track.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  #content
  (touchstart)="logScrollStart()"
  (touchend)="logScrollEnd()"
>
  <ion-list>
    <ion-item class="align-bottom">
      <p>
        <span *ngFor="let furigana of furiganas" [attr.t]="furigana.ruby"
          >{{ furigana.text }}</span
        >
      </p>
    </ion-item>
    <ion-item>
      <ion-text class="caption-test">
        <span *ngFor="let furigana of furiganas">
          <ruby *ngIf="furigana.ruby"
            >{{ furigana.text }}<rt>{{ furigana.ruby }}</rt></ruby
          >
          <span *ngIf="!furigana.ruby">{{ furigana.text }}</span>
        </span>
      </ion-text>
    </ion-item>
    <ion-item
      #caption
      *ngFor="let caption of captions"
      (click)="selectCaption($event)"
      [attr.data-caption-id]="caption.id"
    >
      <ion-label
        class="caption"
        [color]="caption.id == activeId ? 'primary' : 'dark'"
        text-wrap
      >
        {{ caption.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" [disabled]="!isAudioLoaded">
      <ion-icon
        name="play-outline"
        *ngIf="!isPlaying"
        (click)="play()"
      ></ion-icon>
      <ion-icon
        name="pause-outline"
        *ngIf="isPlaying"
        (click)="pause()"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
